*{
	padding: 0;
	margin: 0;
}
/* Estilos para el encabezado */
.encabezado {
	background-color: rgba(0, 119, 182, 0.9);
	color: whitesmoke;
	width: 100%;
	height: 13vh;
	position: fixed;
	top: 0;
	z-index: 99999999999;
	overflow: hidden;
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
}
@media (max-width:820px) {
    .encabezado{
        display: none;
    }
}
.mi-nav-bt{
    background-color:rgba(0, 119, 182, 0.9);
}
.encabezado .imgLogo{
	padding: 1vw 1vh;
}
.encabezado .imgLogo img{
    height: 10vh;
}
nav ul {
	list-style: none;
	margin: 1em;
	padding: 0;
	display: flex;
}
nav ul li {
	margin: 1vw;
}

nav a {
	color: #fff;
	text-decoration: none;
}

nav li a:hover{
	color: rgb(250, 185, 64);
}

/* Estilos para el cuerpo */

#mainIndex{
	width: auto;
	margin: 1px;
	color: #003958;
	display: flex;
	height: 50%;
	flex-direction: column-reverse;
	padding-top: 10vh;
}
@media (max-width:821px){
    #mainIndex{
        padding-top: 60px;
    }
}
main h1 {
	margin: 0;
	font-size: 36px;
}
#imagenesEnMain{
	width: 100vw;
}
.carruselCss {
    width: 70vw;
    height: auto;
    margin: 10px auto 0;
	border-radius: 10px;
	overflow: hidden;
}
@media (max-width : 420px) {
	.carruselCss{
		width: 100vw;
		margin: 0;
		margin-top: 2vh;
	}
}
.carruselCss ul {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
	margin: 0;
    width: 400%;
    height: auto;
    animation: carruselConCss 16s infinite alternate ease-in-out;
    animation-delay: 0ms;
    animation-iteration-count: infinite;
}
.carruselCss ul li {
    width: 100%;
    list-style: none;
}
.carruselCss img {
    width: 100%;
	border-radius: 10px;
}
@keyframes carruselConCss {
    0% {margin-left: 0;}
    20% {margin-left: 0;}

    24% {margin-left: -100%;}
    44% {margin-left: -100%;}

    48% {margin-left: -200%;}
    68% {margin-left: -200%;}

    72% {margin-left: -300%;}
    100% {margin-left: -300%;}    
}
 .textoSection {
	font-size: 24px;
	margin-top: 30px;
	color: #016da6;
	text-align: center;
}
.contenedorSection {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	justify-items: center;
}
@media (max-width : 420px) {
	.contenedorSection{
		grid-template-columns: 1fr 1fr;
	}
}
.imgSection{
	padding: 1vh;
	margin: 5px;
	width: 18vw;
	border-radius: 5px;
	background: linear-gradient(80deg,#0077b6 60%, rgb(250, 185, 64));
}
@media (max-width:420px){
	.imgSection{
		width: 40vw;
	}
}
.imgSection img {
	width: 100%;
}
.imgSection a {
	color: whitesmoke;
	text-align: center;
	text-decoration: none;
}

/* Estilos para el pie de página */
footer {
	width: 100vw;
	background-color: #0077b6;
	color: #fff;
	padding: 10px;
	text-align: center;
	font-size: 1rem;
}
.contenedorFooter {
	display: flex;
	justify-content: space-around;
	align-content: start;
	justify-items: start;
}
@media (max-width:768px) {
	.contenedorFooter{
		display: grid;
		grid-template-columns: 1fr;
		justify-content: center;
		justify-items: center;
	}
}
.contenedorFooter .footerBloqueUno{
    width: 100vw;
    overflow: hidden;
}
footer p {
	margin: 0;
	width: 40vw;
}
@media (max-width:768px) {
	footer p{
		width: 90vw;
	}
}
.fin {
	text-align: center;
	font-size: 0.7rem;
	width: 100%;
}
footer .contenedorFooter .footerBloqueDos{
	display: grid;
	grid-template-columns: 1fr;
	justify-items: end;
}
.mapa {
	width: 40vw;
	height: auto;
	border-radius: 10px;
}
@media (max-width:768px) {
	.mapa{
		width: 90vw;
	}
}
/* Estilo contacto */
.main_space{
	width: 100vw;
	margin-top: 12vh;
	color: #0077b6;
}
@media (max-width:768px) {
	.main_space{
		margin-top: 15vh;
	}
}
.textoContacto{
	margin: 14px;
	padding-top: 2vh;
}
.main_space h2{
	margin: 12px;
	padding-left: 20px;
}
.formulario {
    display: flex;
    width: auto;
    flex-direction: column;
    padding-top: 3vh;
    padding: 2vh;
	margin: 0;
	align-items: center;
}
.formulario .formularioItems {
    display: flex;
    flex-direction: column;
	width: 50vw;
}
/* Estilo Materiales */
.contenedor{
    width: 100vw;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-items: center;
    height: auto;
    gap: 5px;
    padding-top: 1vh;
}
@media(max-width:768px){
    .contenedor{
        grid-template-columns: 1fr 1fr;   
    }
} 
.contenedor figure{
    position:relative;
    cursor: pointer;
    width: 21vw;
    overflow: hidden;
    border-radius: 10px;
	box-shadow: rgba(0, 119, 182, 0.3) 3px 5px;
}
@media (max-width: 768px) {
    .contenedor figure{
        width: 40vw;
    }
}

.contenedor figure img{
    width: 100%;
    height: 100%;
    transition: all 400ms ease-out;
    will-change: transform;
}
.contenedor figure .capa{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(228, 176, 44, 0.3) 3px 5px;
    transition: all 400ms ease-out;
    opacity: 0;
    visibility: hidden;
    text-align: center;
}
.contenedor figure:hover > .capa {
    opacity: 1;
    visibility: visible;
}
.contenedor figure:hover > .capa h3{
    margin-top: 3vh;
    margin-bottom: 0.5px;
    font-size: 1.7rem;
}
@media (max-width: 767px){
    .contenedor figure:hover > .capa h3{
        margin-top: 10px;
        font-size: 1.2rem;
    }
}
.contenedor figure:hover > img{
    transform: scale(1.5);
}
.contenedor figure .capa h3{
    color: rgb(3, 0, 89);
    transition: all 400ms ease-out;
    margin-top: 15px;
    font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
}
.contenedor figure .capa p{
    color: rgb(3, 47, 95);
    font-size: 1.3rem;
    line-height: 1.2;
    width: 100%;
    margin: auto;
    margin-top: 4px;
	font-family: 'Inconsolata', monospace;
}
@media (max-width: 419px){
    .contenedor figure .capa p{
        font-size: 0.9rem;
        line-height:1;
        margin-top: 2px;
    }
}
@media (min-width: 420px){
    .contenedor figure .capa p{
        font-size: 1.2rem;
        line-height:1;
        margin-top: 1px;
    }
}
@media (min-width: 520px){
    .contenedor figure .capa p{
        font-size: 1.7rem;
        line-height:1;
        margin-top: 1px;
    }
}
@media (min-width: 766px){
    .contenedor figure .capa p{
        font-size: 1.9rem;
        line-height:1;
        margin-top: 1px;
    }
}
@media (min-width: 880px){
    .contenedor figure .capa p{
        font-size: 1.2rem;
        line-height:1;
        margin-top: 1px;
    }
}

.espacioSection{
	padding-top: 5vh;
}
.botonVerMas{
	text-align: center;
	margin-top: 3vh;
	margin-bottom: 3vh;
}
.botonVerMas a{
	border-radius: 15px;
	background-color: rgb(0, 119, 182);
	color: whitesmoke;
	padding: 1vh;
	text-decoration: none;
}
/* Boton de Whatsapp */
.whatsapp {
    position: fixed; 
    bottom: 16vh; 
    right: 8vw;
    z-index:999999999;
   }
   .whatsapp img {
    width: 69px; 
    opacity: 0.8;
    animation: atencionboton 2s;
    animation-iteration-count: 3;
    animation-delay: 5s;
}
.cadaMarca{
	text-align: center;
    height: 10vh;
    display: flex;
    margin: 0;
    padding: 0;
}
.cadaMarca li{
	list-style: none;
    height: 10vh;
    text-align: center;
    padding: 2vw;
}
