h1 {
  color: #003958;
  font-family: "Roboto", sans-serif;
}

h2 {
  color: #016da6;
}

/* aqui empiezan los estilos */
header .mi-nav-bt {
  background-color: rgba(0, 119, 182, 0.9);
  overflow: hidden;
}
header .encabezado {
  background-color: rgba(0, 119, 182, 0.9);
  position: fixed;
  z-index: 99999999999;
  top: 0;
  display: grid;
  grid-template-columns: 6fr 2fr;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  height: 13vh;
}
@media (max-width: 992px) {
  header .encabezado {
    display: none;
  }
}
header .encabezado .imgLogo {
  padding: 1vw 1vh;
}
header .encabezado .imgLogo img {
  height: 10vh;
}
header .encabezado nav ul {
  list-style: none;
  display: flex;
  margin: 0;
}
header .encabezado nav ul li {
  margin-right: 1rem;
}
header .encabezado nav ul li a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}
header .encabezado nav ul li a:hover {
  color: rgb(250, 185, 64);
}

main {
  width: 100%;
  margin-top: 13vh;
}
main .main_spacesass {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  justify-items: center;
}
@media (max-width: 576px) {
  main {
    margin-top: 10vh;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  main {
    margin-top: 7vh;
  }
}

section {
  width: 100%;
}
section .textoSection {
  font-size: 24px;
  color: #016da6;
  text-align: center;
}
section .productosCatalogo {
  width: 100%;
}
section .productosCatalogo .contenedor {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  height: auto;
  gap: 5px;
  padding-top: 1vh;
}
@media (max-width: 768px) {
  section .productosCatalogo .contenedor {
    grid-template-columns: 1fr 1fr;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  section .productosCatalogo .contenedor {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
section .productosCatalogo .contenedor figure {
  position: relative;
  cursor: pointer;
  width: 21vw;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: rgba(0, 119, 182, 0.3) 3px 5px;
}
section .productosCatalogo .contenedor figure img {
  width: 98%;
  height: 98%;
  border-radius: 10px;
  transition: all 400ms ease-out;
  will-change: transform;
}
section .productosCatalogo .contenedor figure .capa {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(198, 151, 12, 0.3) 3px 5px;
  transition: all 600ms ease-out;
  opacity: 0;
  visibility: hidden;
  text-align: center;
}
section .productosCatalogo .contenedor figure .capa h3 {
  color: rgb(3, 0, 89);
  transition: all 400ms ease-out;
  margin-top: 20px;
  font-family: "Roboto", sans-serif;
  font-size: 1.3rem;
}
section .productosCatalogo .contenedor figure .capa p {
  color: rgb(3, 47, 95);
  font-size: 1.2rem;
  line-height: 1.2;
  width: 100%;
  margin: auto;
  margin-top: 4px;
  font-family: "Inconsolata", monospace;
}
section .productosCatalogo .contenedor figure:hover img {
  transform: scale(1.2);
}
section .productosCatalogo .contenedor figure:hover .capa {
  opacity: 1;
  visibility: visible;
}
section .productosCatalogo .contenedor figure:hover .capa h3 {
  margin-top: 2vh;
  margin-bottom: 0.5px;
}
@media (max-width: 768px) {
  section .productosCatalogo .contenedor figure {
    width: 48vw;
  }
}
@media (min-width: 576px) and (max-width: 768px) {
  section .productosCatalogo .contenedor figure {
    width: 31vw;
  }
}
section .botonVerMas {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-top: 3vh;
  margin-bottom: 3vh;
  align-items: center;
  align-content: center;
}
section .botonVerMas a {
  background-color: rgba(0, 119, 182, 0.9);
  text-decoration: none;
  padding: 1vh;
  color: whitesmoke;
  border-radius: 25px;
  font-size: 1rem;
  text-align: center;
}
section .botonVerMas a:hover {
  color: rgb(250, 185, 64);
  font-size: 1.2rem;
}
section .whatsapp {
  position: fixed;
  bottom: 16vh;
  right: 8vw;
  z-index: 999999999;
}
section .whatsapp img {
  width: 69px;
  opacity: 0.8;
  animation: atencionboton 2s;
  animation-iteration-count: 3;
  animation-delay: 5s;
}
@keyframes atencionboton {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(1);
  }
}

footer {
  width: 100%;
  background-color: rgba(0, 119, 182, 0.9);
}
footer .contenedor_footer {
  padding-top: 2vh;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: start;
  justify-items: center;
}
footer .contenedor_footer :nth-child(3) {
  grid-column: 1/3;
}
footer .contenedor_footer :nth-child(4) {
  grid-column: 1/3;
}
@media (max-width: 576px) {
  footer .contenedor_footer {
    align-items: center;
  }
}
footer .contenedor_footer .marcas {
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contenedor_footer .marcas h2 {
  color: whitesmoke;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
}
footer .contenedor_footer .marcas .bcmarca {
  width: 30vw;
  height: 20vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}
footer .contenedor_footer .marcas .bcmarca img {
  width: 30vw;
}
@media (max-width: 768px) {
  footer .contenedor_footer .marcas .bcmarca {
    height: 5vh;
  }
}
footer .contenedor_footer .ubicacion {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
footer .contenedor_footer .ubicacion p {
  font-size: 1rem;
  text-align: center;
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
}
footer .contenedor_footer .ubicacion .mapa {
  width: 40vw;
  height: 20vh;
  border-radius: 10px;
  box-shadow: rgba(0, 119, 182, 0.9) 5px 2px;
}
@media (max-width: 576px) {
  footer .contenedor_footer .ubicacion .mapa {
    width: 80vw;
  }
}
footer .contenedor_footer .redes {
  display: flex;
}
footer .contenedor_footer .redes .fb {
  width: 7vw;
  margin: 1vw;
}
footer .contenedor_footer .redes .fb img {
  width: 7vw;
  border-radius: 40px;
}
footer .contenedor_footer .redes .fb img:hover {
  background-image: url(../img/bgfc.png);
  background-size: cover;
}
footer .contenedor_footer .redes .ig {
  width: 7vw;
  margin: 1vw;
}
footer .contenedor_footer .redes .ig img {
  width: 7vw;
  border-radius: 40px;
}
footer .contenedor_footer .redes .ig img:hover {
  background-image: url(../img/bgig.png);
  background-size: cover;
}
footer .contenedor_footer .fin {
  width: 100%;
}
footer .contenedor_footer .fin p {
  color: whitesmoke;
  font-family: "Roboto", sans-serif;
  font-size: 0.6rem;
  text-align: center;
  margin-bottom: 0;
}
@media (max-width: 576px) {
  footer .contenedor_footer {
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
}/*# sourceMappingURL=style.css.map */